.nav {
    display: grid;
    grid-template-columns: auto 1000px auto auto auto;
    grid-template-areas: 
    "header1 header2 header3 header4 header5";
}
.cart{
    grid-area: header4; 
    margin-left: 10px;
    margin-right: 10px;

}
.eco {
    grid-area: header1;
}
.butLog {
    grid-area: header4;
    margin-left: 20px;
    margin-right: 20px;


}